<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cocktail.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="/js/cocktail.js" defer></script>
    <title>Loading</title>
</head>
<body>
    <a id="back-button" href="/">
        <p id="back-button-text">Back to search</p>
    </a>
    <div id="container">
        <h1 id="cocktail-name"></h1>
        <img src="" id="cocktail-img">
        <h2 id="instruction-title"></h2>
        <p id="instructions"></p>
        <h2 id="ingredients-title"></h2>
        <ul id="ingredients"></ul>
    </div>
</body>
</html>