<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ingredient.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="/js/ingredient.js" defer></script>
    <title>Loading</title>
</head>
<body>
    <a id="back-button" href="/">
        <p id="back-button-text">Back to search</p>
    </a>
    <div id="container">
        <h1 id="ingredient-name"></h1>
        <img src="" id="ingredient-img">
        <h2 id="alcoholic-title">Aloholic Type: <p id="alcoholic"></p></h2>
        <h2 id="abv-title">ABV: <p id="abv"></p></h2>
        <h2 id="desc-title"></h2>
        <p id="desc"></p>
    </div>
</body>
</html>