* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 20px;
}

#main-flex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    background: rgb(49, 49, 49);
    color: rgb(180, 187, 215); 
}

#search-section {
    width: 80%;
}

#filter-section {
    width: 20%;
    height: 100%;
    border-left: 1px solid black;
    position: fixed;
    left: 80%;
    top: 0;
    box-shadow: -1px 0 1px 0px rgb(164, 164, 164);
    z-index: 5;
}

#search-button {
    height: 100%;
    aspect-ratio: 1 / 1;
}


#search-tools {
    width: 80%;
    height: 10%;
    position: fixed;
    top:0;
    left:0;
    border-bottom: 1px solid black;
    z-index: 4;
    background: rgb(49, 49, 49);
    box-shadow: 0 1px 1px 0px rgb(164, 164, 164);
}

#search-input {
    outline: none;
    border: none;
    width: 90%;
}

#input-bar {
    width: 35%;
    position: absolute;
    left: 32.5%;
    height: 20%;
    top: 40%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;    
    padding: 0 2px;
    border-radius: 2px;
    background: #191b19;
}

#search-button-container {
    height: 100%;
    width: 10%;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button-container:hover {
    background: black;
}

#search-type-input {
    width: 10%;
    height: 20%;
    position: absolute;
    left: 20%; /* 2.5% space between */
    top: 40%;
    }

#random-button {
    width: 10%;
    height: 20%;
    position: absolute;
    left: 70%;
    top: 40%;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
}

#filters {
    height: 33%;
    border-bottom: 1px solid black;
    background: rgb(59, 59, 49);
    box-shadow: 0 1px 1px 0px rgb(164, 164, 164);
    color: rgb(188, 188, 190);
}

#filter-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 69.7%;
    padding: 2% 0;
    padding-left: 5%;
}

#item-preview {
    height: 67%;
    text-align: center;
    background: rgb(49, 49, 49);
}

#filter-title {
    height: 30.3%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.input-label {
    display: block;
    margin-bottom: 2%;
}

select {
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    padding-left: 2px;
    
}

input, button, select {
    background: #191b19;
    color: rgb(180, 187, 215);
}

#search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    text-align: center;
    overflow: scroll;
    position: absolute;
    top: 10%;
    left: 0;
    width: 80%;
    height: 90%;
    padding: 2%;
    background: #3e4555;
}

.search-result-wrapper {
    text-decoration: none;
    color: rgb(188, 188, 190);
    width: 18%;
    height: 40%;
    border: 1px solid rgb(188, 188, 190);
    margin-right: 2.5%;
    margin-bottom: 2.5%;

}

.search-result-wrapper:hover {
    position: relative;
    top: 1px;
    box-shadow: 0 -1px 1px 1px rgb(164, 164, 164);
    width: 18.9%;
    height: 42%;
    margin-right: 1.6%;
    margin-bottom: .5%;
}

.search-result-wrapper:hover:nth-of-type(5n) {
    position: relative;
    top: 1px;
    box-shadow: 0 -1px 1px 1px rgb(164, 164, 164);
    width: 18.9%;
    height: 42%;
    margin-right: -0.9%;
    margin-bottom: .5%;
}

.search-result-wrapper:nth-of-type(5n) {
    margin-right: 0;
}

.search-result-thumbnail {
    /* width: 100%; */
    max-width: 100%;
    max-height: 50%;
}

.descriptor-container {
    height:30%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#instructions-title {
    visibility: hidden;
    margin: 2% 0;
}

#instructions-list {
    list-style: decimal;
    padding-left: 15%;
    text-align: left;
}

#preview-name {
    margin: 2% 0;
}

.preview-instruction {
    margin-bottom: 2%;
}

#preview-image {
    width: 75%;
}

#preview-desc {
    text-align: left;
}

#desc-container {
    overflow: scroll;
    height: 50%;
    padding: 5px;
}